apiVersion: addon.open-cluster-management.io/v1alpha1
kind: AddOnDeploymentConfig
metadata:
  name: multicluster-observability-addon
  namespace: open-cluster-management-observability
spec:
  customizedVariables:
  # Operator Subscription Channels
  - name: openshiftLoggingChannel
    value: stable-6.2
  # Metrics hostname where to forward metrics
  - name: metricsHubHostname
    value: metrics-hub.openshift-monitoring.svc
  # Platform Observability
  # Enables Metrics Collection
  - name: platformMetricsCollection
    value: prometheusagents.v1alpha1.monitoring.coreos.com
  # Enables Log Collection
  - name: platformLogsCollection
    value: clusterlogforwarders.v1.observability.openshift.io
  # User Workloads Observability
  # Enables Metrics Collection
  - name: userWorkloadMetricsCollection
    value: prometheusagents.v1alpha1.monitoring.coreos.com
  # Enables Log Collection
  - name: userWorkloadLogsCollection
    value: clusterlogforwarders.v1.observability.openshift.io
  # Enables Opentelemetry Collection
  - name: userWorkloadTracesCollection
    value: opentelemetrycollectors.v1beta1.opentelemetry.io
  # Enables Opentelemetry Instrumentation
  - name: userWorkloadInstrumentation
    value: instrumentations.v1alpha1.opentelemetry.io
  # Enables Incident Detection
  - name: platformIncidentDetection
    value: uiplugins.v1alpha1.observability.openshift.io
  # Enables Observability UI Metrics
  - name: observabilityUIMetrics
    value: uiplugins.v1alpha1.observability.openshift.io