apiVersion: apps/v1
kind: Deployment
metadata:
  name: multicluster-observability-addon-manager
  labels:
    app: multicluster-observability-addon-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: multicluster-observability-addon-manager
  template:
    metadata:
      labels:
        app: multicluster-observability-addon-manager
    spec:
      serviceAccountName: multicluster-observability-addon-manager
      containers:
        - name: controller
          image: controller:latest
          imagePullPolicy: Always
          args:
            - "controller"
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            runAsNonRoot: true
