# All signal teams own everything by default. Exceptions will be listed below this generic rule.
* @rhobs/multicluster-observability @rhobs/team-logging @rhobs/team-tracing

# Signal specific implementation folders.
/internal/logging @rhobs/team-logging
/internal/tracing @rhobs/team-tracing
/internal/metrics @rhobs/multicluster-observability

# Signal specific charts.
/internal/addon/manifests/charts/mcoa/charts/logging @rhobs/team-logging
/internal/addon/manifests/charts/mcoa/charts/tracing @rhobs/team-tracing
/internal/addon/manifests/charts/mcoa/charts/metrics @rhobs/multicluster-observability
