{{- if .Values.enabled }}
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: multicluster-observability-addon:metrics:agent
  labels:
    {{- include "metricshelm.labels" . | indent 4 }}
    app.kubernetes.io/component: metrics-agent
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - nodes/proxy
      - services
      - endpoints
      - pods
    verbs: ["get", "list", "watch"]
  - apiGroups:
      - extensions
    resources:
      - ingresses
    verbs: ["get", "list", "watch"]
  - nonResourceURLs: ["/federate"]
    verbs: ["get"]
{{- end }}
