{{- if .Values.enabled }}
# By default the SA used by OCM to apply ManifestWorks does not have the 
# necessary premissions to create OperatorGroups', since we install the logging
# operator using the AdddOn we need to grant this SA these premissions
# https://open-cluster-management.io/concepts/manifestwork/#permission-setting-for-work-agent
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: open-cluster-management:multicluster-observability-addon:klusterlet-work:agent
  labels:
    app: {{ template "mcoahelm.name" . }}
    chart: {{ template "mcoahelm.chart" . }}
    release: {{ .Release.Name }}
rules:
  - apiGroups: ["operators.coreos.com"]
    resources: ["operatorgroups"]
    verbs: ["get", "list", "watch", "create", "update", "delete", "patch"]
  - apiGroups: ["monitoring.coreos.com"]
    resources: ["prometheusrules", "servicemonitors"]
    verbs: ["get", "list", "watch", "create", "update", "delete", "patch"]
  - apiGroups: ["monitoring.rhobs"]
    resources: ["prometheusagents", "scrapeconfigs", "prometheusrules", "prometheuses"]
    verbs: ["get", "list", "watch", "create", "update", "delete", "patch"]
  - apiGroups: ["apiextensions.k8s.io"]
    resources: ["customresourcedefinitions"]
    verbs: ["get", "list", "watch", "create", "update", "delete", "patch"]
{{- end }}