{{- if .Values.deployNonOCPStack }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kube-state-metrics.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kube-state-metrics.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "kube-state-metrics.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: kube-state-metrics
      labels:
        {{- include "kube-state-metrics.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - args:
        - --host=127.0.0.1
        - --port=8081
        - --telemetry-host=127.0.0.1
        - --telemetry-port=8082
        image: {{ .Values.images.kubeStateMetrics }}
        name: kube-state-metrics
        resources:
        {{- if .Values.global.resourceRequirements }}
        {{- $reverseResourceRequirements := reverse .Values.global.resourceRequirements -}}
        {{- range $requirement := $reverseResourceRequirements -}}
          {{- if regexMatch $requirement.containerIDRegex (printf "deployments:%s:%s" (include "kube-state-metrics.fullname" $) "kube-state-metrics") }}
            {{- toYaml $requirement.resources | nindent 10 }}
            {{- break -}}
          {{- end -}}
        {{- end }}
        {{- else }}
          limits:
            cpu: 100m
            memory: 250Mi
          requests:
            cpu: 10m
            memory: 190Mi
        {{- end }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
      - args:
        - --logtostderr
        - --secure-listen-address=:8443
        - --tls-cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - --upstream=http://127.0.0.1:8081/
        image: {{ .Values.images.rbacProxyImage }}
        name: kube-rbac-proxy-main
        ports:
        - containerPort: 8443
          name: https-main
        resources:
        {{- if .Values.global.resourceRequirements }}
        {{- $reverseResourceRequirements := reverse .Values.global.resourceRequirements -}}
        {{- range $requirement := $reverseResourceRequirements -}}
          {{- if regexMatch $requirement.containerIDRegex (printf "deployments:%s:%s" (include "kube-state-metrics.fullname" $) "kube-rbac-proxy-main") }}
            {{- toYaml $requirement.resources | nindent 10 }}
            {{- break -}}
          {{- end -}}
        {{- end }}
        {{- else }}
          limits:
            cpu: 40m
            memory: 400Mi
          requests:
            cpu: 20m
            memory: 20Mi
        {{- end }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
      - args:
        - --logtostderr
        - --secure-listen-address=:9443
        - --tls-cipher-suites=TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
        - --upstream=http://127.0.0.1:8082/
        image: {{ .Values.images.rbacProxyImage }}
        name: kube-rbac-proxy-self
        ports:
        - containerPort: 9443
          name: https-self
        resources:
        {{- if .Values.global.resourceRequirements }}
        {{- $reverseResourceRequirements := reverse .Values.global.resourceRequirements -}}
        {{- range $requirement := $reverseResourceRequirements -}}
          {{- if regexMatch $requirement.containerIDRegex (printf "deployment:%s:%s" (include "kube-state-metrics.fullname" $) "kube-rbac-proxy-self") }}
            {{- toYaml $requirement.resources | nindent 10 }}
            {{- break -}}
          {{- end -}}
        {{- end }}
        {{- else }}
          limits:
            cpu: 20m
            memory: 400Mi
          requests:
            cpu: 10m
            memory: 20Mi
        {{- end}}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
      securityContext:
        privileged: false
        readOnlyRootFilesystem: true
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      {{- if .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      {{- else }}
      nodeSelector:
        kubernetes.io/os: linux
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kube-state-metrics.serviceAccountName" . }}
{{- end }}