apiVersion: v2
description: A Helm chart for installing the different observability signals for mcoa
name: mcoa
version: 1.0.0
appVersion: "1.0.0"

dependencies:
- name: logging
  repository: 'file://./charts/logging'
  condition: logging.enabled
- name: tracing
  repository: 'file://./charts/tracing'
  condition: tracing.enabled