{{- if or .Values.platformEnabled .Values.userWorkloadsEnabled }}
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Values.prometheusCAConfigMapName}}
  namespace: {{ .Release.Namespace }}
  annotations:
    service.beta.openshift.io/inject-cabundle: "true"
  labels:
    {{ include "metricshelm.labels" . | nindent 4 }}
{{- end }}