name: addon checks

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - name: Install make
      run: sudo apt-get install make
    - uses: actions/checkout@v4
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
      id: go  
    - name: Lint
      uses: golangci/golangci-lint-action@v8
      with:
        version: v2.5.0
        args: --timeout=4m

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
    - name: Install make
      run: sudo apt-get install make
    - uses: actions/checkout@v4
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
      id: go
    - name: Run tests
      run: go test -coverprofile=profile.cov ./...
    - name: Send coverage
      uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: profile.cov
        flag-name: Go-1.23
        shallow: true
